.App {
  max-width: 600px;
  margin: 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  justify-content:space-between;
  padding: 10px;
  font-size: 18px;
}
span {
  cursor: pointer;
  margin-left: 10px;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
.addbutton input {
  margin: 0;
  border-radius: 0;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}
.addbutton button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.list-title input {
  font-size: 18px;
  margin-left: 10px;
  padding: 0px;
}
.list-title label {
  margin-left: 10px;
}
.App button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

button[disabled] {
  background-color: gray;
}